 header{ height:90vh;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;

  }
   .navbar-brand {
    color: yellow !important;
    
}

  .banner-text{
    color: #fff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    text-align: center ;

  }
   .bar{
    background-color: black;
  }
  .banner-btn input{
    border:  1px solid #fff;
    border-radius: 50px;
    border-color: yellow;
    text-decoration: none;
    padding: 10px 50px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
  }
   .button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
 
  a:hover{
    color: yellow;
  }
  i:hover{
    color: yellow;
   }

   @media(min-width:700px){
    .ls{
    position: absolute;
   }
    
    }