header{
  height:140vh;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;

  }
 

  .bar{
  	background-color: black;
  }
  .banner-text{
    color: #efefef;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

   

  }
   .banner-btn input{
    border:  1px solid #efefef;
    border-radius: 50px;
    text-decoration: none;
    border-color: #efefef;
    padding: 10px 50px;
    display: inline-block;
    margin-top: 15px;
    color: #efefef;
  }
  .button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  form label{
  	color:white;
  }
  input:hover{
    color: white;
  }
  i:hover{
    color: white;}
  @media(min-width:700px){
  header{
    height:85vh;}
  .ls{
    position: absolute;
    }
    
    

  }


