header{
   height:100vh;
  -webkit-background-size:cover;
  background-size: cover;
  background-position: center center;

  }

  .bar{
    background-color: black;
  }
  .banner-text{
    color: #fff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

   

  }
   .banner-btn a{
    border:  1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    border-color: yellow;
    padding: 10px 50px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    
  }
  .button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  form label{
    color:white;
  }
  a:hover{
    color: yellow;
  }
  i:hover{
    color: yellow;}
  @media(min-width:700px){
  header{
    height:93.6vh;}
  .ls{
    position: absolute;
    }
    
    

  }